*{
  margin: 0;
}
.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-gap: 6px ;
  width: 50%;
  background: #f1f1f1;
  padding: 12px;
  margin: 0 auto;
}

.gridContainer>div {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 30px;
}

.gridItem1 {
  grid-column: 1 / 4;
}

.gridItem2{
   grid-row: 2 / 4;
}

.gridItem5{
   grid-column: 2 / 4;
}

.gridItem6{
  grid-column: 1/3;
}
.gridItem8{
  grid-column: 1/4;
}

#bg-blue{
  background: rgb(138, 138, 214);
}

#bg-purple{
  background: rgb(189, 41, 102);
}

