body{
  font-size: 18px;
  font-family: sans-serif;
}

.box{
  margin-left: 50px;
  background-color: #3887ff;
  color: #fff;
  display: inline-block;
  padding: 1rem;
  transition: all 1s ease-in;
}

.box:hover{
  cursor: pointer;
  /* transform: translate(50px, 50px); */

  /* transform: rotate(360deg); */
  /* transform: rotateX(360deg); */
  /* transform: rotateY(360deg); */
    /* transform: rotateX(360deg) rotateY(360deg); */
  /* transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); */

  /* transform: scale(1.5, 0.8); */
  /* transform: scale(1.5); */

  /* transform: skew(15deg); */
  /* transform: skewX(15deg); */
  /* transform: skewY(15deg); */
  /* transform: skew(15deg, 15deg); */

  transform: translate(50px, 50px) rotateX(360deg) 
            rotateY(360deg) rotateZ(360deg) scale(1.5) skew(15deg);
}

.wrapper{
  width: 1200px;
  margin: 0 auto;
}