.block{
  display: flex;
  background: rgb(235, 234, 234);
  width: 100%;
}

.child-img{
  display: inline-block;
  margin: 15px 10px 15px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.img{
  width: 100px;
  height: 100px;
}



.child{
  margin: 15px 50px 15px 0;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 40px;
}

a{
  color: rgb(48, 38, 38);
  text-decoration: none;
}